@model List<UNIManagement.Entities.ViewModel.ClientViewModel>
<div class=" d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container-xxl">
          
                <div class="row" id="filter">
                    <div class="col-md-12">
                        <div class="row pb-5">
                            <div class="col-md-12">
                            <button class="btn btn-primary" id="filterButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z" />
                                </svg> Filter
                            </button>
                            </div>
                        </div>

                    <form id="clientformfilter">

                    <div class="card text-center" id="filterCard" style="display:none">
                            <div class="card-body">
                              
                                    <div class="row pt-10">
                                        <div class="col-md-4">
                                        <input type="text"  name="filterName" data-kt-customer-table-filter="search" class="form-control " placeholder="Client Name" />
                                        </div>
                                        <div class="col-md-4">
                                        <select name="filterBusinessName" class="form-select form-select-white border border-2" data-control="select2" data-placeholder="Select an option" id="ProjectBusinessfilter" asp-items="@(new SelectList(ViewBag.BusinessNameDropDown,"BusinessName","BusinessName"))">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                        <div class="row g-1">
                                            <div class="col-10">
                                                <input name="filterBirthDate" type="date" class="form-control" id="txtFrmDate" placeholder="Date" />
                                            </div>
                                            <div class="col-2 d-flex align-items-center border border-secondary rounded border-1">
                                                <button class="btn btn-sm" type="button" onclick="$('#txtFrmDate').val(''); $('#txtFrmDate').datepicker('update');">
                                                    <i class="fa fa-minus-circle nopad2 fa-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                  

                                <div class="row text-end pt-5">
                                    <div>
                                        <div onclick="filterClientList()" class="btn btn-primary">Search</div>
                                        <a class="btn btn-danger" onclick="clearFilters()" href="javascript:void(0);"> Clear</a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" name="filterIsActive" id="filterIsActive" value="">
                            <div class="col-md-6 text-end">
                                <span type="button" id="activeBtn" class="alert alert-success fs-3 p-2 w-100 text-center" onclick="setStatusAndFilter('True')">Active</span>
                            </div>

                            <div class="col-md-6 text-start">
                                <span type="button" id="inactiveBtn" class="alert alert-danger fs-3 p-2 w-100 text-center" onclick="setStatusAndFilter('False')">Inactive</span>
                            </div>
                        </div>


           
                    </form>

                    </div>
                </div>
              

                <div class="row pt-10">
                    <div class="col-md-12">
                        <div class="card text-center">

                            <div class="card-body pt-0">
                                <div class="row pt-5">
                                    <div class="col-md-6 text-start pl-5">
                                        <h1>Client List</h1>

                                    </div>
                                    <div class="col-md-6 text-end">
                                    <a class="btn btn-primary" asp-controller="Client" asp-action="ClientForm" >Add Client</a>

                                    </div>

                            </div><div class="row pt-5">

                                <div id="loadercontainer">
                                    <span class="loader" id="loader-list"></span>
                                </div>
                                <div id="ClientListPartialView">
                                </div>
                            </div>
                              
                            </div>
                        </div>
                    </div>
                </div>



        </div>

    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
@section Scripts {

    <script>     
        
        // filter button js
        document.getElementById('filterButton').addEventListener('click', function () {
            var filterCard = document.getElementById('filterCard');
            if (filterCard.style.display === 'none' || filterCard.style.display === '') {
                filterCard.style.display = 'block';
            } else {
                filterCard.style.display = 'none';

            }
        });
        // clear button in filter
        function clearFilters() {
            $('#clientformfilter')[0].reset();
            // document.getElementById("clientformfilter").reset();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetClientList", "Client")',
                success: function (data) {
                    // Update the table body with the returned partial view
                    $('#ClientListPartialView').html(data);
                },
                error: function (req, status, err) {
                    console.error("Error: ", err);
                    alert("An error occurred while fetching the client list.");
                }
            });
        }

        filterClientList();
        //IsActive filter 
        function setStatusAndFilter(status) {
            document.getElementById('filterIsActive').value = status;
            var activeBtn = document.getElementById('activeBtn');
            var inactiveBtn = document.getElementById('inactiveBtn');

            // Toggle the badge class based on the clicked button
            if (status === 'True') {
                activeBtn.classList.add('badge');
                activeBtn.classList.remove('alert');
                inactiveBtn.classList.remove('badge');
                inactiveBtn.classList.add('alert');
            } else {
                inactiveBtn.classList.add('badge');
                inactiveBtn.classList.remove('alert');
                activeBtn.classList.remove('badge');
                activeBtn.classList.add('alert');
            }
            filterClientList();
        }
        //filtered list ajax
        function filterClientList() {
            $('#loader-list').show();
            $.ajax({               
                type: 'GET',
                url: '/Client/GetClientList',
                data: $("#clientformfilter").serializeArray(),
                success: function (response) {
                    $('#loader-list').hide();
                    $('#ClientListPartialView').html(response);
                },
                error: function (req, status, err) {
                    // Handle error during AJAX call

                }
            });
        }
       
    </script>

}