@model UNIManagement.Entities.ViewModel.DomainViewModel;
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!--begin::Content-->
<div class="d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <form id="domainForm" asp-controller="Domain" asp-action="AddEdit" method="post">
                <div class="row pt-5">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header pt-5">
                                <div class="col-md-6">
                                    <h1>Domain Details</h1>
                                </div>
                                <div class="col-md-6 text-end">
                                    <a class="btn rounded-2 border-primary" onclick="history.back()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
                                        </svg>
                                        Back
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="DomainId" class="form-control" />
                                    </div>

                                    <div class="col-md-6">
                                        <label asp-for="Name">Name</label>
                                        <input type="text" asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Client</label>
                                        <select class="form-select" asp-for="ClientId" data-allow-clear="true" onchange="fnSetClientName(this)" tabindex="-1" asp-items="@(new SelectList(ViewBag.ClientDropDown,"ClientId","Name"))" data-control="select" data-placeholder="Client">
                                            <option value="">-- Select a Client --</option>
                                        </select>
                                        <input type="hidden" asp-for="ClientName" id="clientName" />
                                        <span asp-validation-for="ClientId" class="text-danger"></span>
                                    </div>                                  
                                </div>

                                <div class="row pt-5">
                                    <div class="col-md-12">
                                        <label asp-for="Url">URL</label>
                                        <input type="text" asp-for="Url" class="form-control" />
                                        <span asp-validation-for="Url" class="text-danger"></span>
                                    </div>
                                   
                                </div>

                                <div class="row pt-5">
                                    <div class="col-md-6">
                                        <label asp-for="PurchaseDate">Purchase Date</label>
                                        <input type="date" asp-for="PurchaseDate" class="form-control" />
                                        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="RenewDuration">Renew Duration</label>
                                        <select class="form-select form-control" asp-for="RenewDuration">
                                            <option value="">Select Duration</option>
                                            <option value="6month">6 Month</option>
                                            <option value="1year">1 Year</option>
                                            <option value="1.5year">1.5Year</option>
                                            <option value="2year">2 Year</option>
                                            <option value="2.5year">2.5Year</option>
                                            <option value="3year">3 Year</option>
                                            <option value="3.5year">3.5Year</option>
                                            <option value="4year">4 Year</option>
                                            <option value="4.5year">4.5Year</option>
                                            <option value="5year">5 Year</option>
                                            <option value="5.5year">5.5Year</option>
                                            <option value="6year">6 Year</option>
                                            <option value="6.5year">6.5Year</option>
                                            <option value="7year">7 Year</option>
                                            <option value="7.5year">7.5Year</option>
                                            <option value="8year">8 Year</option>
                                            <option value="8.5year">8.5Year</option>
                                            <option value="9year">9 Year</option>
                                            <option value="9.5year">9.5Year</option>
                                            <option value="10year">10 Year</option>
                                            <option value="5.5year">5.5Year</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row pt-5">
                                    <div class="col-md-6">
                                        <label asp-for="Platform">Platform</label>
                                        <textarea id="editor1" asp-for="Platform"></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="CredentialDetails">Credential Details</label>
                                        <textarea id="editor2" asp-for="CredentialDetails"></textarea>
                                    </div>
                                </div>

                                <div class="row pt-5">
                                    <div class="col-md-6">
                                        <div class="form-check align-center" id="workshopcheckbox">
                                            <input id="isworkshop" class="form-check-input" type="checkbox" asp-for="IsWorkshopPurchased" value="True" />
                                            <label class="form-check-label" for="isworkshop">
                                                Is Workshop Purchased
                                            </label>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row answer pt-2" id="answer" style="display:none">
                                    <div class="col-md-6">
                                        <label asp-for="WorkspacePurchaseDate">Workspace Purchase Date</label>
                                        <input type="date" asp-for="WorkspacePurchaseDate" class="form-control" />
                                        <span asp-validation-for="WorkspacePurchaseDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="WorkshpaceRenewDuration"></label>
                                        <select class="form-select form-control" asp-for="WorkshpaceRenewDuration">
                                            <option value="">Select WorkSpaceDuration</option>
                                            <option value="6month">6 Month</option>
                                            <option value="1year">1 Year</option>
                                            <option value="1.5year">1.5Year</option>
                                            <option value="2year">2 Year</option>
                                            <option value="2.5year">2.5Year</option>
                                            <option value="3year">3 Year</option>
                                            <option value="3.5year">3.5Year</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row pt-5">
                                    <div class="col-md-12">
                                        <div class="form-check">

                                            @if (Model == null)
                                            {
                                                <input class="form-check-input" type="checkbox" value="" id="kt_check_indeterminate_1" value="True" asp-for="IsActive" checked />
                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="checkbox" value="" id="kt_check_indeterminate_1" value="True" asp-for="IsActive" />
                                            }
                                            <label class="form-check-label" for="kt_check_indeterminate_1">
                                                Is Active
                                            </label>
                                        </div>
                                    </div>
                                  
                                </div>

                                <div class="form-group mt-2 text-center">
                                    <button type="reset" id="resetButton" class="btn btn-danger">Reset</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    @* <button type="button" class="btn btn-primary" onclick="confirmEdit('@Model.Name')">Submit</button> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->

<script>
    $(document).ready(function () {
        // Initialize CKEditors
        let editor1, editor2;
        ClassicEditor
            .create(document.querySelector('#editor1'))
            .then(editor => {
                editor1 = editor;
            })
            .catch(error => {
                console.error(error);
            });
     
        ClassicEditor
            .create(document.querySelector('#editor2'))
            .then(editor => {
                editor2 = editor;
            })
            .catch(error => {
                console.error(error);
            });
        $('#resetButton').on('click', function () {
            // Clear CKEditor data
            if (editor1) editor1.setData('');
            if (editor2) editor2.setData('');
        });
        // Toggle the workshop section based on checkbox status
        $("#isworkshop").click(function () {
            if ($(this).is(":checked")) {
                $("#answer").show();
            } else {
                $("#answer").hide();
            }
        });
    });

    function confirmEdit(domainName) {
        Swal.fire({
            title: 'Are you sure?',
            text: `You are about to edit the domain: ${domainName}.`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, edit it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('domainForm').submit();
            }
        });
    }

    function fnSetClientName(element) {
        document.getElementById("clientName").value = element.options[element.selectedIndex].text;
    }
</script>
